@model List<CampusComplaintPortal.Models.notificationmaster>
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@using (Html.BeginForm("Notifications", "Admin", FormMethod.Post))
{
    <p>@ViewBag.Message</p>

    <div class="card-box mt-3">
        <h5>Add Notification</h5>

        <label class="mt-2">Notification Message</label>
        <textarea name="Message" class="form-control mt-1" rows="3" style="resize:none;" required></textarea>

        <button type="submit" class="btn btn-warning mt-3">
            Add Notification
        </button>
    </div>
}

<h4>MANAGE NOTIFICATIONS</h4>

<table class="table table-bordered bg-white mt-4">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Added On</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;

            foreach (var n in Model)
            {
                <tr>
                    <td>@no</td>
                    <td>@n.Message</td>
                    <td>@n.AddedOn</td>
                    <td>
                        @*<a href="/Admin/DeleteNotification?id=@n.NotiId"
           class="btn btn-danger btn-sm"
           onclick="return confirm('Are you sure you want to delete this notification?');">
            Delete
        </a>*@
                        <a href="/Admin/DeleteNotification?NotiId=@n.NotiId"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure you want to delete this notification?');">
                            Delete
                        </a>
                    </td>
                </tr>
                no++;
            }
        }
    </tbody>
</table>